@import '../../../assets/scss/variables.scss';
@import '../../../assets/scss/common.scss';

.about-me {
  background-color: $backgroundBlue;
  display: flex;

  @include media-breakpoint-down(sm) {
    display: block;
  }

  .details {
    padding: 120px 30px 0 30px;

    @include media-breakpoint-down(md) {
      padding: 80px 30px 0 30px;
    }

    @include media-breakpoint-down(sm) {
      padding: 0 20px;
    }

    .name {
      color: $white;
      font-family: $font-family-bold;
      letter-spacing: 2px;
      position: relative;
      padding-bottom: 25px;

      @include media-breakpoint-down(md) {
        font-size: 24px;
      }

      @include media-breakpoint-down(xs) {
        font-size: 22px;
      }
    }

    .name::after {
      position: absolute;
      content: "";
      left: 0;
      bottom: 0;
      width: 63px;
      height: 3px;
      right: 0;
      margin: 0 auto;
      background: $white;
    }

    .desc {
      @include media-breakpoint-down(md) {
        font-size: 14px;
      }
    }

    .about-img {
      .profile-pic {
        max-width: 100%;
        position: relative;
        border: $white 10px solid;
      }
    }

    .personal-info-label {
      font-family: $font-family-bold;
      letter-spacing: 2px;
      padding-bottom: 15px;
      font-size: 20px;
      position: relative;
      margin-bottom: 20px;
    }

    .personal-info-label::after {
      position: absolute;
      content: "";
      left: 0;
      bottom: 0;
      width: 47px;
      height: 1px;
      background: $white;
    }

    .personal-info {

      margin-bottom: 26px;

      .personal-info-title {
        font-family: $font-family-bold;
        width: 80px;
        float: left;
        font-weight: 800;
        padding-right: 10px;
        position: relative;
        display: block;
      }

      .personal-info-title:after {
        content: ":";
        position: absolute;
        right: 0;
        top: 0;
      }

      .personal-info-desc {
        font-size: 14px;
        padding-left: 100px;
        display: block;
      }
    }

    .resume-desc {
      font-size: 14px;
      line-height: 24px;
      margin-bottom: 30px;
      letter-spacing: 1.2px;
    }

    .download {
      background-color: $buttonyellow;
      color: $white;
      font-size: 18px;
      line-height: 18px;
      border: none;
      letter-spacing: 2px;
      padding: 13px 15px;
      border-radius: 0;
      transition: 0.3s;
      box-shadow: none;
    }

    .download:hover {
      background-color: $hovergreen;
      color: $white;
    }
  }

}
