<div class="about-me">

  <div class="left-heading">

    <div class="section-number">#01</div>

    <h2 class="section-heading">ABOUT ME</h2>

  </div>

  <div class="container-fluid details">

    <div class="row">
      <div class="col-12 text-center">
        <h2 class="name" >HELLO! I'M KIRAN SALIAN</h2>
        <p class="mb-5 desc">Lorem Ipsum is simply dummy
          text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
      </div>

      <div  class="col-lg-4 col-12">
        <div class="mb-4">
          <div class="about-img">
            <div class="profile"><img class="profile-pic" src="assets/images/about-img.jpg" alt="about"></div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-12">
        <div class=" mb-4" >
          <h3 class="personal-info-label">Personal Info</h3>
          <p class="personal-info clearfix"><span class="personal-info-title">Name</span><span class="personal-info-desc">Kiran R Salian</span></p>
          <p class="personal-info clearfix"><span class="personal-info-title">Age</span><span class="personal-info-desc">27</span></p>
          <p class="personal-info clearfix"><span class="personal-info-title">Address</span><span class="personal-info-desc">Udupi</span></p>
          <p class="personal-info clearfix"><span class="personal-info-title">Phone</span><span class="personal-info-desc">+91 9880066931</span></p>
          <p class="personal-info clearfix"><span class="personal-info-title">Email</span><span class="personal-info-desc">info@kiransalian.com</span></p>
        </div>
      </div>
      <div class="col-lg-4 col-12">
        <div class=" mb-4" >
          <h3 class="personal-info-label">My Resume</h3>
          <p class="resume-desc">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s.</p>
            <button type="button" class="btn btn-light download">DOWNLOAD CV</button>
        </div>
      </div>

    </div>
    <h2 class="page-name" >ABOUT ME</h2>
  </div>
 
</div>