@import '../../../assets/scss/variables.scss';
@import '../../../assets/scss/common.scss';
.about-me {
    background-color: $backgroundBlue;
    display: flex;
    .left-heading {
        z-index: 0;
        width: 188px;
        padding: 115px 0 0;
        text-align: center;
        overflow: hidden;
        background: rgba(0, 0, 0, 0.1);
        color: $white;
         .section-number {
            font-size: 55px;
            line-height: 55px;
            margin-bottom: 35px;
            font-weight: 800;
        font-family: $font-family-bold;
        }
        .section-heading {  
            font-size: 55px;
            line-height: 55px;
            position: relative;
            white-space: nowrap;
            top: 230px;
            left: 0;
            margin: 0 auto;
        font-family: $font-family-bold;
            font-weight: 800;
            letter-spacing: 0.1em;
            -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
        }

    }
    .details {
        padding: 120px 30px 0 30px;
        .name {
            color: $white;
            font-family: $font-family-bold;
            letter-spacing: 2px;
            position: relative;
            padding-bottom: 25px;
        }
        .name::after {
            position: absolute;
            content: "";
            left: 0;
            bottom: 0;
            width: 63px;
            height: 3px;
            right: 0;
            margin: 0 auto;
            background:  $white;
        }
        .about-img{
            .profile-pic {
                max-width: 100%;
                position: relative;
                border:  $white 10px solid;
            }
        }
        .personal-info-label {
            font-family: $font-family-bold;
            letter-spacing: 2px;
            padding-bottom: 15px;
            font-size: 20px;
    position: relative;
    margin-bottom: 20px;
        }
        .personal-info-label::after {
            position: absolute;
            content: "";
            left: 0;
            bottom: 0;
            width: 47px;
            height: 1px;
            background: $white;
        }
        .personal-info {
      
        margin-bottom: 26px;
      .personal-info-title { 
        font-family: $font-family-bold;
          width: 80px;
        float: left;
        font-weight: 800;
        padding-right: 10px;
        position: relative;
        display: block;
      }
      .personal-info-title:after {
        content: ":";
        position: absolute;
        right: 0;
        top: 0;
    }
      .personal-info-disc {
        padding-left: 100px;
        display: block;
    }
        }
        .resume-desc {
            
    line-height: 24px;
    margin-bottom: 30px;
    letter-spacing: 1.2px;
        }
        .download {
            background-color: $buttonyellow;
        color: $white;
        font-size: 18px;
        line-height: 18px;
        border: none;
        letter-spacing: 2px;
        padding: 13px 15px;
        border-radius: 0;
        transition: 0.3s;
        box-shadow: none;
        }
        .download:hover {
            background-color: $hovergreen;
            color: $white;
        }
        .page-name {
            font-size: 80px;
            font-family: $font-family-bold;
            letter-spacing: 2px;
            font-weight: 800;
            position: relative;
            opacity: 0.25;
            text-align: right;
        }
    }

}