<div class="contact-us">

  <div class="left-heading">

    <div class="section-number">#04</div>

    <h2 class="section-heading">CONTACT</h2>

  </div>

  <div class="container-fluid details">

    <div class="row">
      <div class="col-12 text-center">
        <h2 class="name">CONTACT INFORMATION</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4 contact-col">
        <div class="contact-box text-center">
          <div class="contact-icon"><i class="fas fa-map-marker-alt"></i></div>
          <div class="contact-txt">
            <h3 class="contact-heading">Address</h3>
            <p class="contact-desc">Nisarga Laxminagar Garde Krodashrama Post Udupi District Karnataka India Pincode : 576106</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 contact-col">
        <div class="contact-box text-center">
          <div class="contact-icon"><i class="fas fa-phone"></i></div>
          <div class="contact-txt">
            <h3 class="contact-heading">Phone Number</h3>
            <p class="contact-desc"><a href="tel:+919880066931">+191  9880066931</a></p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 contact-col">
        <div class="contact-box text-center">
          <div class="contact-icon"><i class="far fa-envelope"></i></div>
          <div class="contact-txt">
            <h3 class="contact-heading">Email Address</h3>
            <p class="contact-desc"><a href="mailto:kiransalian91@gmail.com">kiransalian91@gmail.com</a></p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <div class="">
          <!-- <agm-map [latitude]="lat" [longitude]="lng">
            <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
          </agm-map> -->
        </div>
      </div>
      <div class="col-lg-6">
        <div class="">
          <h2 class="heading-border leave-message">LEAVE A MESSAGE</h2>
          <div class="contact-form">

            <form>

              <input name="fname" class="contact-field" type="text" placeholder="Name" required="">

              <input name="email" class="contact-field" type="text" placeholder="Email" required="">

              <input name="phone" class="contact-field" type="text" placeholder="Phone" required="">

              <textarea name="msg" class="contact-field" placeholder="Message"></textarea>

              <div ><input class="submit-button" name="submit" type="submit" value="Submit"></div>

            </form>

          </div>
        </div>
      </div>
    </div>
    <h2 class="page-name" >CONTACT</h2>
  </div>