@import './variables.scss';
@import "../../../node_modules/bootstrap/scss/bootstrap-grid.scss";
// @import "../../../node_modules/font-awesome/css/font-awesome.css";
// All global styles should be added in this file.
html {
  position: relative;
  height: 100%;
  margin: 0;
  padding: 0;
}

* {
  font-family: $font-family-regular;
  color: $white;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body * {
    outline: none;
  }
  
p {
  line-height: 24px;
  letter-spacing: 1.2px;
}
.wow {
    visibility: visible !important;
 }

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $white;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: $white;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: $white;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: $white;
  }

.left-heading {
  z-index: 0;
  width: 188px;
  padding: 115px 0 0;
  text-align: center;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.1);
  color: $white;
   .section-number {
      font-size: 55px;
      line-height: 55px;
      margin-bottom: 35px;
      font-weight: 800;
  font-family: $font-family-bold;
  @include media-breakpoint-down(md){
      font-size: 38px;
      line-height: 38px;
  }
  @include media-breakpoint-down(sm){
      font-size: 30px;
      line-height: 30px;
      margin-bottom: 10px;
  }
  }
  .section-heading {  
      font-size: 55px;
      line-height: 55px;
      position: relative;
      white-space: nowrap;
      top: 230px;
      left: 0;
      margin: 0 auto;
  font-family: $font-family-bold;
      font-weight: 800;
      letter-spacing: 0.1em;
      -webkit-transform: rotate(-90deg);
      transform: rotate(-90deg);
      @include media-breakpoint-down(md){
          font-size: 38px;
          line-height: 38px;
          top: 150px;
      }
      @include media-breakpoint-down(sm) {
          font-size: 38px;
          line-height: 38px;
          left: inherit;
          position: inherit;
          top: inherit;
          text-align: center;
          width: auto;
          -webkit-transform: initial;
          transform: initial;
      }
      @include media-breakpoint-down(xs) {
          font-size: 30px;
      }
  }
  @include media-breakpoint-down(sm) {
      position: inherit;
      width: 100%;
      min-height: auto;
      height: inherit;
      overflow: inherit;
      padding: 20px 0;
      margin-bottom: 45px;
  }

}

.page-name {
  font-size: 80px;
  font-family: $font-family-bold;
  letter-spacing: 2px;
  font-weight: 800;
  position: relative;
  opacity: 0.25;
  text-align: right;
margin: 0;
  @include media-breakpoint-down(md){
      font-size: 55px;
  }
  @include media-breakpoint-down(xs) {
      font-size: 35px;
      text-align: center;
  }
}

.outer-menu {
  font-size: 24px;
  color: $white;
  position: absolute;
  top: 0px;
  width: 50px;
  height: 50px;
  padding-top: 10px;
  background-color: #fd225f;
  cursor: pointer;
  transition: all 0.3s;
  z-index: 100000;

  .line {
    width: 25px;
    height: 3px;
    background-color: $white;
    margin: 5px auto;
  }
}

.outer-menu:hover {
  background-color: $buttonyellow;
}

.close-icon {
  font-size: 24px;
  color: $white;
  position: absolute;
  top: 0px;
  width: 50px;
  height: 50px;
  padding-top: 10px;
  background-color: #fd225f;
  cursor: pointer;
  transition: all 0.3s;
  z-index: 100000;

  @include media-breakpoint-down(xl) {
    left: 250px;
  }

  @include media-breakpoint-down(sm) {
    left: 220px;
    width: 40px;
    height: 40px;
  }
}

.close-icon:before,
.close-icon:after {
  position: absolute;
  left: 24px;
  top: 11px;
  content: ' ';
  height: 26px;
  width: 4px;
  background-color: #FFFFFF;

  @include media-breakpoint-down(sm) {
    left: 19px;
    top: 7px;
  }
}

.close-icon:before {
  transform: rotate(45deg);
}

.close-icon:after {
  transform: rotate(-45deg);
}

.close-icon:hover {
  background-color: $buttonyellow;
}

