@font-face {
    font-family: 'Montserrat-bold';
    src: url($MontserratFontPath+"Montserrat-Bold.ttf");
}

@font-face {
    font-family: 'Montserrat-regular';
    src: url($MontserratFontPath+"Montserrat-Regular.ttf");
}

@font-face {
    font-family: 'Montserrat-semibold';
    src: url($MontserratFontPath+"Montserrat-SemiBold.ttf");
}

@font-face {
    font-family: 'Montserrat-light';
    src: url($MontserratFontPath+"Montserrat-Light.ttf");
}
