
$white: #FFFFFF;
$hovergreen: #39ca76;
$buttonyellow: #ff9900;
$black: #000000;
$backgroundBlue: #516abc;
$backgroundpink: #fd225f;
$assetsBaseUrl:'/assets/';
$fontPath:'/assets/fonts/';
$MontserratFontPath:$fontPath+'Montserrat/';

// fonts
$font-family-regular: 'Montserrat-regular';
$font-family-bold: 'Montserrat-bold';
$font-family-semibold: 'Montserrat-semibold';
$font-family-light: 'Montserrat-light';