<div class="skills">
  <div class="left-heading">

    <div class="section-number">#02</div>

    <h2 class="section-heading">MY SKILLS</h2>

  </div>
  <div class="container-fluid details">

    <div class="row">
      <div class="col-12 text-center">
        <h5 class="mission-label">MY MISSION IS</h5>
        <h2 class="mission">DESIGN & DEVELOP THE BEST <br> WEBSITES AROUND </h2>
      </div>
      <div class="col-lg-7">
        <div class="row">
          <div class="col-lg-6">
            <div class="mb-4">
              <div class="skill-icon"><i class="fas fa-graduation-cap"></i></div>
              <h3 class="label-heading">Education</h3>
              <p class="edu-info"><strong>Milagres College Kallianpur</strong><br>Bachelor of Computer Application</p>
              <p class="edu-info"><strong>NMAM Institute of Technology Nitte</strong><br>Master of Computer Application</p>
              <!-- <p class="edu-info"><strong>School of Amusement</strong><br>Bachelor of Fine Arts</p> -->
            </div>
          </div>

          <div class="col-lg-6">
            <div class="mb-4">
              <div class="skill-icon"><i class="fas fa-briefcase"></i></div>
              <h3 class="label-heading">Experience</h3>
              <p class="edu-info"><strong>Software Engineer</strong><br>CodeCraft Technologies Pvt Ltd</p>
              <p class="edu-info"><strong>Software Engineer</strong><br>Robosoft Technologies Pvt Ltd</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-5">

        <div class="progress-info">
          <div class="progress-subject">
            <p class="progress-label">Design</p>
            <div class="progress">
              <div class="progress-bar active" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"
                style="width:90%"></div>
            </div>
            <p class="text-right mt-2">90%</p>
          </div>
          <div class="progress-subject">
            <p class="progress-label">Development</p>
            <div class="progress">
              <div class="progress-bar active" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"
                style="width:75%"></div>
            </div>
            <p class="text-right mt-2">80%</p>
          </div>
          <div class="progress-subject">
            <p class="progress-label">Marketing</p>
            <div class="progress">
              <div class="progress-bar active" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"
                style="width:50%"></div>
            </div>
            <p class="text-right mt-2">50%</p>
          </div>
        </div>

      </div>
    </div>
    <h2 class="page-name">MY SKILLS</h2>
  </div>
</div>
