<div class="" [ngClass]="(showMenu)?'shrink':'close-shrink'">
  <div class="home">
    <div class="outer-menu" (click)="openMenu()" *ngIf="!showMenu">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
    <div class="close-icon" *ngIf="showMenu" (click)="openMenu()">

    </div>
    <!-- <div class="logo">
      <img src="assets/images/logo-white.png">
    </div> -->
    <div class="banner">
      <div class="banner-text">
        <div class="creative-text">Creative</div>
        <h1 class="wow fadeInRight header-label">WEBSITE DEVELOPER</h1>
        <p class="sub-label wow fadeIn" data-wow-delay="0.5s"> A mint of creativity</p>
        <button type="button" class="btn btn-light get-in-touch wow fadeInUp" data-wow-delay="0.6s">GET IN TOUCH</button>
      </div>
      <div class="go-to">
        <img src="assets/images/down-arrow.png">
      </div>
    </div>

  </div>



  <!-- aaout me -->

  <div class="about-me">

    <div class="left-heading">
  
      <div class="section-number">#01</div>
  
      <h2 class="section-heading">ABOUT ME</h2>
  
    </div>
  
    <div class="container-fluid details">
  
      <div class="row">
        <div class="col-12 text-center">
          <h2 class="wow fadeInRight name " >HELLO! I'M KIRAN SALIAN</h2>
          <p class="mb-5 desc wow fadeInUp" >Worked several years for leading Web development house and has developed some of the top websites. currently working at Robosoft Technologies Pvt Ltd as Software Engineer.</p>
        </div>
  
        <div  class="col-lg-4 col-12">
          <div class="mb-4 wow fadeInUp">
            <div class="about-img">
              <div class="profile"><img class="profile-pic" src="assets/images/kiran5.jpg" alt="about"></div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-12">
          <div class=" mb-4 wow fadeInUp" >
            <h3 class="personal-info-label">Personal Info</h3>
            <p class="personal-info clearfix"><span class="personal-info-title">Name</span><span class="personal-info-desc">Kiran R Salian</span></p>
            <p class="personal-info clearfix"><span class="personal-info-title">Age</span><span class="personal-info-desc">27</span></p>
            <p class="personal-info clearfix"><span class="personal-info-title">Address</span><span class="personal-info-desc">Udupi</span></p>
            <p class="personal-info clearfix"><span class="personal-info-title">Phone</span><span class="personal-info-desc">+91 9880066931</span></p>
            <p class="personal-info clearfix"><span class="personal-info-title">Email</span><span class="personal-info-desc">kiransalian91@gmail.com</span></p>
          </div>
        </div>
        <div class="col-lg-4 col-12">
          <div class=" mb-4 wow fadeInUp" >
            <h3 class="personal-info-label">My Resume</h3>
            <p class="resume-desc">To know more about my professional experience please download my CV</p>
              <!-- <button type="button" class="btn btn-light download"> -->
                <a  class="download" href="/assets/images/Resume.pdf" download>DOWNLOAD CV</a>
              <!-- </button> -->
          </div>
        </div>
  
      </div>
      <h2 class="page-name wow zoomIn" >ABOUT ME</h2>
    </div>
   
  </div>



  <!-- my skills -->

  <div class="skills">
    <div class="left-heading">
  
      <div class="section-number">#02</div>
  
      <h2 class="section-heading">MY SKILLS</h2>
  
    </div>
    <div class="container-fluid details">
  
      <div class="row">
        <div class="col-12 text-center wow fadeInUp" >
          <h5 class="mission-label">MY MISSION IS</h5>
          <h2 class="mission">DESIGN & DEVELOP THE BEST <br> WEBSITES AROUND </h2>
        </div>
        <div class="col-lg-7">
          <div class="row">
            <div class="col-lg-6">
              <div class="mb-4 wow fadeInUp">
                <div class="skill-icon"><i class="fas fa-graduation-cap"></i></div>
                <h3 class="label-heading">Education</h3>
                <p class="edu-info"><strong>Milagres College Kallianpur</strong><br>Bachelor of Computer Application</p>
                <p class="edu-info"><strong>NMAM Institute of Technology Nitte</strong><br>Master of Computer Application</p>
                <!-- <p class="edu-info"><strong>School of Amusement</strong><br>Bachelor of Fine Arts</p> -->
              </div>
            </div>
  
            <div class="col-lg-6">
              <div class="mb-4 wow fadeInUp">
                <div class="skill-icon"><i class="fas fa-briefcase"></i></div>
                <h3 class="label-heading">Experience</h3>
                <p class="edu-info"><strong>Software Engineer</strong><br>CodeCraft Technologies Pvt Ltd</p>
                <p class="edu-info"><strong>Software Engineer</strong><br>Robosoft Technologies Pvt Ltd</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-5">
  
          <div class="progress-info wow fadeInUp">
            <div class="progress-subject">
              <p class="progress-label">Design</p>
              <div class="progress">
                <div class="progress-bar active" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"
                  style="width:90%"></div>
              </div>
              <p class="text-right mt-2">90%</p>
            </div>
            <div class="progress-subject">
              <p class="progress-label">Development</p>
              <div class="progress">
                <div class="progress-bar active" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"
                  style="width:75%"></div>
              </div>
              <p class="text-right mt-2">80%</p>
            </div>
            <div class="progress-subject">
              <p class="progress-label">Marketing</p>
              <div class="progress">
                <div class="progress-bar active" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"
                  style="width:50%"></div>
              </div>
              <p class="text-right mt-2">50%</p>
            </div>
          </div>
  
        </div>
      </div>
      <h2 class="page-name wow zoomIn">MY SKILLS</h2>
    </div>
  </div>


  <!-- services -->

  <div class="services">

    <div class="left-heading">
  
      <div class="section-number">#03</div>
  
      <h2 class="section-heading">SERVICES</h2>
  
    </div>
  
    <div class="container-fluid details">
      <div class="row services-info">
        <div class="col-12 text-center">
          <h2 class="what-can-i-do wow fadeInUp">WHAT CAN I DO</h2>
        </div>
      </div>
  
      <div class="row services-info ">
        <div class="col-lg-4 service-col">
          <div class="service-box text-center wow fadeInUp">
            <div class="service-icon"><i class="fab fa-earlybirds"></i></div>
            <h3 class="service-heading">Graphic Design</h3>
            <p class="service-desc">Basic knowledge of photoshop to design web pages</p>
          </div>
        </div>
        <div class="col-lg-4 service-col">
          <div class="service-box text-center wow fadeInUp">
            <div class="service-icon"><i class="far fa-file-code"></i></div>
            <h3 class="service-heading">Web Development</h3>
            <p class="service-desc">Fast and interactive. To deliver quality websites in limited period of time</p>
          </div>
        </div>
        <div class="col-lg-4 service-col">
          <div class="service-box text-center wow fadeInUp">
            <div class="service-icon"><i class="fas fa-chess-knight"></i></div>
            <h3 class="service-heading">Hybrid Mobile Application</h3>
            <p class="service-desc">Experienced in Ionic framework to build hybrid mobile applications</p>
          </div>
        </div>
  
      </div>
      <h2 class="page-name wow zoomIn">ABOUT ME</h2>
    </div>
  </div>
  
  <!-- contact us -->

  <div class="contact-us">

    <div class="left-heading">
  
      <div class="section-number">#04</div>
  
      <h2 class="section-heading">CONTACT</h2>
  
    </div>
  
    <div class="container-fluid details">
  
      <div class="row">
        <div class="col-12 text-center wow fadeInUp">
          <h2 class="name">CONTACT INFORMATION</h2>
        </div>
      </div>
  
      <div class="row">
        <div class="col-lg-4 contact-col">
          <div class="contact-box text-center  wow fadeInUp">
            <div class="contact-icon"><i class="fas fa-map-marker-alt"></i></div>
            <div class="contact-txt">
              <h3 class="contact-heading">Address</h3>
              <p class="contact-desc">Nisarga Laxminagar Garde Krodashrama Post Udupi District Karnataka India Pincode :
                576106</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 contact-col">
          <div class="contact-box text-center wow fadeInUp">
            <div class="contact-icon"><i class="fas fa-phone"></i></div>
            <div class="contact-txt">
              <h3 class="contact-heading">Phone Number</h3>
              <p class="contact-desc"><a href="tel:+919880066931">+191 9880066931</a></p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 contact-col">
          <div class="contact-box text-center wow fadeInUp">
            <div class="contact-icon"><i class="far fa-envelope"></i></div>
            <div class="contact-txt">
              <h3 class="contact-heading">Email Address</h3>
              <p class="contact-desc"><a href="mailto:kiransalian91@gmail.com">kiransalian91@gmail.com</a></p>
            </div>
          </div>
        </div>
      </div>
  
      <div class="row">
        <div class="col-lg-6">
          <div class=" wow fadeInUp">
            <!-- <agm-map [latitude]="lat" [longitude]="lng">
              <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
            </agm-map> -->
          </div>
        </div>
        <div class="col-lg-6">
          <div class=" wow fadeInUp">
            <h2 class="heading-border leave-message">LEAVE A MESSAGE</h2>
            <div class="contact-form">
  
              <form>
  
                <input name="fname" class="contact-field" type="text" placeholder="Name" required="">
  
                <input name="email" class="contact-field" type="text" placeholder="Email" required="">
  
                <input name="phone" class="contact-field" type="text" placeholder="Phone" required="">
  
                <textarea name="msg" class="contact-field" placeholder="Message"></textarea>
  
                <div><input class="submit-button" name="submit" type="submit" value="Submit"></div>
  
              </form>
  
            </div>
          </div>
        </div>
      </div>
      <h2 class="page-name">CONTACT</h2>
    </div>
  

  <!-- <app-about-us></app-about-us>
  <app-skills></app-skills>
  <app-services></app-services>
  <app-contact-us></app-contact-us> -->
  <app-header *ngIf="showMenu"></app-header>
</div>
