<div class="home">
    <div class="outer-menu">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
    <div class="logo">
        <img src="assets/images/logo-white.png">
    </div>
    <div class="banner">
        <div class="banner-text">
            <div class="creative-text">We are Creative</div>
            <h1 class="header-label">WEBSITE DEVELOPER</h1>
            <p class="sub-label"> the ultimate one page design</p>
            <button type="button" class="btn btn-light get-in-touch">GET IN TOUCH</button>
        </div>
        <div class="go-to">
            <img src="assets/images/down-arrow.png">
        </div>
    </div>
 
</div>
<app-about-us></app-about-us>