@import '../../assets/scss/variables.scss';
@import '../../assets/scss/common.scss';

.shrink {
  @include media-breakpoint-up(xl) {
    padding-left: 300px;
    width: 100%;
    transition: all 0.3s;
    overflow-x: hidden;
    overflow-y: hidden;
  }

}

.close-shrink {
  @include media-breakpoint-up(xl) {
    padding-left: 0;
    transition: all 0.3s;
    overflow-x: hidden;
    overflow-y: hidden;
  }
}

.home {
  .outer-menu {
    font-size: 24px;
    color: $white;
    position: absolute;
    top: 0px;
    width: 50px;
    height: 50px;
    padding-top: 10px;
    background-color: #fd225f;
    cursor: pointer;
    transition: all 0.3s;
    z-index: 100000;

    .line {
      width: 25px;
      height: 3px;
      background-color: $white;
      margin: 5px auto;
    }
  }

  .outer-menu:hover {
    background-color: $buttonyellow;
  }

  .close-icon {
    font-size: 24px;
    color: $white;
    position: absolute;
    top: 0px;
    width: 50px;
    height: 50px;
    padding-top: 10px;
    background-color: #fd225f;
    cursor: pointer;
    transition: all 0.3s;
    z-index: 100000;

    @include media-breakpoint-down(xl) {
      left: 250px;
    }

    @include media-breakpoint-down(sm) {
      left: 220px;
      width: 40px;
      height: 40px;
    }
  }

  .close-icon:before,
  .close-icon:after {
    position: absolute;
    left: 24px;
    top: 11px;
    content: ' ';
    height: 26px;
    width: 4px;
    background-color: #FFFFFF;

    @include media-breakpoint-down(sm) {
      left: 19px;
      top: 7px;
    }
  }

  .close-icon:before {
    transform: rotate(45deg);
  }

  .close-icon:after {
    transform: rotate(-45deg);
  }

  .close-icon:hover {
    background-color: $buttonyellow;
  }


  .logo {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 45px;
    z-index: 99;

    img {
      max-width: 100%;
    }
  }

  .banner {
    background: url('/assets/images/main-banner.jpg') no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-position: center center;
    position: relative;
    overflow: hidden;
  }

  .banner::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(16, 13, 67, 0.65);
  }

  .banner-text {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 99;
    text-align: center;

    .creative-text {
      font-size: 45px;
      line-height: 45px;
      font-weight: 200;
      margin-bottom: 20px;
      letter-spacing: 3px;
      color: $white;
      font-family: $font-family-light;

      @include media-breakpoint-down(lg) {
        font-size: 38px;
      }

      @include media-breakpoint-down(md) {
        font-size: 28px;
      }

      @include media-breakpoint-down(xs) {
        font-size: 22px;
      }

    }

    .header-label {
      font-size: 62px;
      color: $white;
      font-family: $font-family-bold;
      line-height: 62px;
      letter-spacing: 3px;
      font-weight: 800;

      @include media-breakpoint-down(lg) {
        font-size: 50px;
      }

      @include media-breakpoint-down(sm) {
        font-size: 40px;
        line-height: 40px;
      }

      @include media-breakpoint-down(xs) {
        font-size: 25px;
      }

    }

    .sub-label {
      font-weight: 200;
      margin-bottom: 30px;
      font-size: 24px;
      font-family: $font-family-light;
      line-height: 24px;
      color: $white;
      letter-spacing: 1.2px;

      @include media-breakpoint-down(sm) {
        font-size: 16px;
      }
    }

    .get-in-touch {
      background-color: $buttonyellow;
      color: $white;
      font-size: 18px;
      line-height: 18px;
      border: none;
      letter-spacing: 2px;
      padding: 13px 15px;
      border-radius: 0;
      transition: 0.3s;
      box-shadow: none;
    }

    .get-in-touch:hover {
      background-color: $hovergreen;
      color: $white;
    }
  }

  .go-to {
    position: absolute;
    bottom: 0;
    right: 0;
    background: $buttonyellow;
    width: 62px;
    cursor: pointer;
    height: 62px;
    line-height: 62px;
    text-align: center;
    font-size: 24px;
    color: $white;
    transition: 0.3s;
    z-index: 9999;

    img {
      width: 30px;
      height: 25px;
    }
  }

  .go-to:hover {
    background-color: $hovergreen;
  }
}



// about us

.about-me {
  background-color: $backgroundBlue;
  display: flex;

  @include media-breakpoint-down(sm) {
    display: block;
  }

  .details {
    padding: 120px 30px 0 30px;

    @include media-breakpoint-down(md) {
      padding: 80px 30px 0 30px;
    }

    @include media-breakpoint-down(sm) {
      padding: 0 20px;
    }

    .name {
      color: $white;
      font-family: $font-family-bold;
      letter-spacing: 2px;
      position: relative;
      padding-bottom: 25px;

      @include media-breakpoint-down(md) {
        font-size: 24px;
      }

      @include media-breakpoint-down(xs) {
        font-size: 22px;
      }
    }

    .name::after {
      position: absolute;
      content: "";
      left: 0;
      bottom: 0;
      width: 63px;
      height: 3px;
      right: 0;
      margin: 0 auto;
      background: $white;
    }

    .desc {
      @include media-breakpoint-down(md) {
        font-size: 14px;
      }
    }

    .about-img {
      .profile-pic {
        max-width: 100%;
        position: relative;
        border: $white 10px solid;
      }
    }

    .personal-info-label {
      font-family: $font-family-bold;
      letter-spacing: 2px;
      padding-bottom: 15px;
      font-size: 20px;
      position: relative;
      margin-bottom: 20px;
    }

    .personal-info-label::after {
      position: absolute;
      content: "";
      left: 0;
      bottom: 0;
      width: 47px;
      height: 1px;
      background: $white;
    }

    .personal-info {

      margin-bottom: 26px;

      .personal-info-title {
        font-family: $font-family-bold;
        width: 80px;
        float: left;
        font-weight: 800;
        padding-right: 10px;
        position: relative;
        display: block;
      }

      .personal-info-title:after {
        content: ":";
        position: absolute;
        right: 0;
        top: 0;
      }

      .personal-info-desc {
        font-size: 14px;
        padding-left: 100px;
        display: block;
      }
    }

    .resume-desc {
      font-size: 14px;
      line-height: 24px;
      margin-bottom: 30px;
      letter-spacing: 1.2px;
    }

    .download {
      background-color: $buttonyellow;
      color: $white;
      font-size: 18px;
      line-height: 18px;
      border: none;
      letter-spacing: 2px;
      padding: 13px 15px;
      border-radius: 0;
      transition: 0.3s;
      box-shadow: none;
    }

    .download:hover {
      background-color: $hovergreen;
      color: $white;
      text-decoration: none;
    }
  }
}


// my skills

.skills {
  background-color: $buttonyellow;
  display: flex;

  @include media-breakpoint-down(sm) {
    display: block;
  }

  .details {
    padding: 120px 30px 0 30px;

    @include media-breakpoint-down(md) {
      padding: 80px 30px 0 30px;
    }

    @include media-breakpoint-down(sm) {
      padding: 0 20px;
    }

    .mission-label {
      letter-spacing: 2px;
      font-size: 20px;
      font-weight: 800;
      margin-bottom: 20px;
      font-family: $font-family-bold;

    }

    .mission {
      color: $white;
      font-family: $font-family-bold;
      letter-spacing: 2px;
      position: relative;
      padding-bottom: 25px;
      margin-bottom: 50px;

      @include media-breakpoint-down(md) {
        font-size: 24px;
      }

      @include media-breakpoint-down(xs) {
        font-size: 22px;
      }
    }

    .mission::after {
      position: absolute;
      content: "";
      left: 0;
      bottom: 0;
      width: 63px;
      height: 3px;
      right: 0;
      margin: 0 auto;
      background: $white;
    }

    .label-heading {
      letter-spacing: 2px;
      font-size: 20px;
      font-weight: 800;
      margin-bottom: 35px;
      font-family: $font-family-bold;

      @include media-breakpoint-down(xs) {
        font-size: 16px;
      }
    }

    .label-heading::after {
      position: absolute;
      content: "";
      left: 15px;
      top: 35px;
      bottom: 0;
      width: 47px;
      height: 2px;
      background: #fff;
    }

    .edu-info {
      margin-bottom: 30px;

      @include media-breakpoint-down(xs) {
        font-size: 14px;
      }
    }

    .progress-info {
      .progress {
        background: #fff;
        border-radius: 30px;
        -webkit-border-radius: 30px;
        height: 8px;

        .progress-bar {
          background-color: #516abc;
        }
      }

      .progress-label {
        font-size: 14px;
      }
    }
  }
}


// services

.services {
  background-color: $backgroundpink;
  display: flex;

  @include media-breakpoint-down(sm) {
    display: block;
  }

  .details {
    padding: 120px 30px 0 30px;

    @include media-breakpoint-down(md) {
      padding: 80px 30px 0 30px;
    }

    @include media-breakpoint-down(sm) {
      padding: 0 20px;
    }

    .what-can-i-do {
      color: $white;
      font-family: $font-family-bold;
      letter-spacing: 2px;
      position: relative;
      padding-bottom: 25px;

      @include media-breakpoint-down(md) {
        font-size: 24px;
      }

      @include media-breakpoint-down(xs) {
        font-size: 22px;
      }
    }

    .what-can-i-do::after {
      position: absolute;
      content: "";
      left: 0;
      bottom: 0;
      width: 63px;
      height: 3px;
      right: 0;
      margin: 0 auto;
      background: $white;
    }

    .service-col {
      padding: 50px 0;

      @include media-breakpoint-down(xs) {
        padding: 20px 0;
      }
    }

    .service-heading {
      font-size: 20px;
      font-family: $font-family-bold;
      letter-spacing: 2px;
      padding-bottom: 20px;
    }

    .service-heading::after {
      position: absolute;
      content: "";
      left: 0;
      top: 100px;
      right: 0;
      width: 47px;
      height: 2px;
      margin: 0 auto;
      background: $white;

      @include media-breakpoint-down(xs) {
        top: 65px;
      }
    }

    .service-desc {
      font-size: 14px;
      margin-top: 25px;
    }

    .services-info {
      margin-bottom: 25px !important;
    }
  }
}

// contact us

.contact-us {
  background-color: $backgroundBlue;
  display: flex;

  @include media-breakpoint-down(sm) {
    display: block;
  }

  .details {
    padding: 120px 30px 0 30px;

    @include media-breakpoint-down(md) {
      padding: 80px 30px 0 30px;
    }

    @include media-breakpoint-down(sm) {
      padding: 0 20px;
    }

    .name {
      color: $white;
      font-family: $font-family-bold;
      letter-spacing: 2px;
      position: relative;
      padding-bottom: 25px;

      @include media-breakpoint-down(md) {
        font-size: 24px;
      }

      @include media-breakpoint-down(xs) {
        font-size: 22px;
      }
    }

    .name::after {
      position: absolute;
      content: "";
      left: 0;
      bottom: 0;
      width: 63px;
      height: 3px;
      right: 0;
      margin: 0 auto;
      background: $white;
    }

    .contact-col {
      padding: 50px 0;

      @include media-breakpoint-down(xs) {
        padding: 20px 0;
      }
    }

    .contact-heading {
      font-size: 20px;
      font-family: $font-family-bold;
      letter-spacing: 2px;
      padding-bottom: 20px;
    }

    .contact-heading::after {
      position: absolute;
      content: "";
      left: 0;
      top: 100px;
      right: 0;
      width: 47px;
      height: 2px;
      margin: 0 auto;
      background: $white;

      @include media-breakpoint-down(xs) {
        top: 65px;
      }
    }

    .contact-desc {
      font-size: 14px;
      margin-top: 25px;
    }

    .leave-message {
      color: $white;
      font-family: $font-family-bold;
      letter-spacing: 2px;
      position: relative;
      padding-bottom: 25px;

      @include media-breakpoint-down(md) {
        font-size: 24px;
      }

      @include media-breakpoint-down(xs) {
        font-size: 22px;
      }
    }

    .leave-message::after {
      position: absolute;
      content: "";
      left: 0;
      bottom: 0;
      width: 63px;
      height: 3px;
      margin: 0 auto;
      background: $white;
    }

    .contact-form {
      padding-top: 30px;

      .contact-field {
        display: block;
        width: 100%;
        height: 40px;
        margin-bottom: 30px;
        background: none;
        border: none;
        border-bottom: $white 1px solid;
        font-size: 14px;
        line-height: 14px;
        letter-spacing: 2px;
        color: $white;
        padding: 0 15px;
      }

      .submit-button {
        width: 100%;
        border: none;
        color: $backgroundBlue;
        font-family: $font-family-bold;
        padding: 0 16px;
        height: 44px;
        font-weight: bold;
        background-color: $white;
        cursor: pointer;
      }
    }

    agm-map {
      height: 300px;
    }

    .page-name {
      padding-top: 50px;
    }
  }

}
